.image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin: 1px;
}

.image:hover{
  cursor: pointer;
  opacity: 0.5;
}

.banner {
  background-image: url(../assets/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 300px; 
  align-items: center;
  display: flex;
}
.backgroud {
  background: black;
}